.loadingAnimation {
    background-color: #fff8;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  
    >div {
      height: 100%;
      width: 100%;
    }
  
    .logo {
      width: 50%;
    }
  }
  
  .loadinganim {
  
    width: 35%;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 70px;
    opacity: 0.7;
  
  }