.pagemask {
  position: fixed !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 11;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  overflow: hidden !important;
}

.hr-nav {
  border-bottom: none;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0;
}

.nav-align {
  display: flex;
}

.user-types {
  display: flex;
  padding: 0px 27px;
  width: 100%;
  background: #f5f5f5;
}

.type-fields {
  font-weight: 500;
  font-size: 10px;
  color: #18191d;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 17%;
}

.long-width-usersname {
  width: 30%;
}

.dir-data {
  display: flex;
  padding: 0px 27px;
  width: 100%;
}

// .user-details {
//     display: flex;
//     width: 20%;
// }

.user-data {
  width: 17%;
  // margin-top: 12px;
}

.tick-img {
  margin-left: auto;
  margin-right: 20px;
}

.thename {
  font-weight: 700;
  font-size: 14px;
  color: #2e2d2d;
  margin-bottom: 0;
  line-height: 1.5;
}

.thename:first-letter {
  text-transform: uppercase;
}

.thetag {
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
  color: #2e2d2d;
  cursor: pointer;
}

// .user-fields {
//     margin-left: 10px;
//     margin-top: 12px;
// }

.all-user-data {
  display: flex;
  padding: 17px 27px;
  width: 100%;
  cursor: pointer;
  transition: 0.4s all ease;
  align-items: center;
}

.all-user-data:hover {
  // transform: scale(1.04);
  transition: 0.4s all ease;
  padding-left: 40px;
  background: #f5f5f5;
}
.user-details {
  align-items: center;
  display: flex;
  width: 30%;
}

.user-fields {
  margin-left: 10px;
  margin-right: 12px;
}

.fields1 {
  margin-top: 8px;
}

.user-details {
  align-items: center;
  display: flex;
}
.the-user-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.the-user-scroll {
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 0;
  }
}

@media screen and (min-width: 1600px) {
  .long-width {
    width: 25% !important;
  }

  .short-width {
    width: 10% !important;
  }
}
