@import "../../static/scss/colors.scss";
@import "../../static/scss/mixin.scss";

.bondsPage {
  height: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.navTab {
  width: 260px;
  display: flex;
  border-right: 1px solid $border-color;
  padding: 20px;
  align-items: center;
  img {
    height: 100%;
    margin-right: 10px;
  }
  span {
    font-size: 22px;
    font-weight: bold;
  }
}




