.nav-user{
    font-size: 15px;
    font-weight: 800;
    color: #18191D;
    border: solid 1px #e7e7e780;
    border-width: 0px 0px 0px 1px;
    padding: 0px 20px;
    display: flex;
    align-items: center;
  }
  .nav-user:hover{
    cursor: pointer;
  }

  .vault-label{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 15px;

color: #18191D;
  }
  
.vault-price{
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 30px;
color: #18191D;
padding-top: 5px;
  }

.vault-price-subtitle{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  color: #18191D;
  }

  .dropdown-selector{
    /* width: 160px; */
    min-width: 130px;
    height: 42px;
    padding:0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0.5px solid #EEEEEE;
border-radius: 5px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 12px;
color: #18191D;
cursor: pointer;
  }
  
  .deposit-button{
    width: 111px;
    height: 42px;
    left: 1180px;
    top: 150px;
    background: #50C7AD;
    border: 0.5px solid #50C7AD;
    border-radius: 5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #FFFFFF !important;
    cursor: pointer;
  }
 
  .withdraw-button{
    width: 111px;
    height: 42px;
    left: 1301px;
    top: 150px;
    color: white !important;
    background: #EA0F0F;
    border: 0.5px solid #EA0F0F;
    border-radius: 5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    
    
    color: #FFFFFF;
  }
  .filter1:hover{
    opacity: 1 !important;
  }

  .coin-card1{
    padding:30px 40px;
    border-bottom: 0.5px solid #EEEEEE;
    /* border-width: 0px ; */
    /* transform: matrix(1, 0, 0, -1, 0, 0); */
    font-size: 17px;
    font-weight: 700;
    color: #18191D;
    cursor: pointer;
  }
  .notes{
    /* width: 72px; */
height: 21px;
border: 0.5px solid lightgray;
border-radius: 5px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 10px;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
padding:5px;
color: #18191d9d;
  }
  .notes:hover{
cursor: pointer;
      /* width: 72px; */
  height: 21px;
  border: 0.5px solid #EEEEEE;
  border-radius: 5px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #18191D;
  color: white;

  }

  .asset-name{
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: 600;
    color: #292929;
  }