@import "../../static/scss/colors";
@import "../../static/scss/mixin";



.coin-button{
    cursor: pointer;

}
.coin-button:hover{
    background-color: rgba(24, 25, 29, 0.1);
    /* color: white; */
    -ms-transform: scale(1.05); /* IE 9 */
      -webkit-transform: scale(1.05); /* Safari 3-8 */
      transform: scale(1.05); 
      transition: 0.3s all ease-in-out;
      opacity: 1 !important;
}
.coin-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    border: 0.5px solid #E5E5E5;
    border-radius: 15px;
    height: 80px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 700;
}
.coin-card:hover{
    cursor: pointer;
    background-color: aliceblue;
}

.coin-card-selected{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    border: 0.5px solid #E5E5E5;
    border-radius: 15px;
    height: 80px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    background-color: aliceblue;
}

@keyframes rollout {
    0% { transform: translateX(100px); }
    100% { transform: none; }
  }
  
  .roll-out {
    animation: rollout 0.4s;
  }

  .roll-out1 {
    animation: rollout 0.5s;
  }
