.vaultsGrid{
    display: grid !important;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr !important;
    // grid-column: 3 / span 8 !important;
    padding: 10px 30px;
    background-color: #FAFAFA;
    border-bottom: solid 0.5px #E7E7E7;
    & > div:not(:first-child){
        text-align: right;
        font-weight: 600;
    }
    & > div{
        font-weight: 600;
    } 
}
.vaultsGrid1{
    display: grid !important;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr !important;
    padding: 10px 50px;
    background-color: #FAFAFA;
    border-bottom: solid 0.5px #E7E7E7;
    font-size: 11px;
   
    & > div:not(:first-child){
        text-align: right;
        font-weight: 600;
    }
    & > div{
        font-weight: 600;
    } 
}


.vaultsUsersGrid{
    display: grid !important;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr !important;
    padding: 10px 25px;
    border-bottom: solid 0.5px #E7E7E7;
    height: 80px;
    .title{
        font-size: 13px !important;
        font-weight: 700;
        color: #18191D;
    }
    .subtitle{
        font-size: 9px !important;
        font-weight: 400;
        color: #18191D;
    }
    
    .subtitle1{
        font-size: 16px !important;
        font-weight: 400;
        color: #18191D;
    }
    & > div:not(:first-child){
        /* text-align: right; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end; 
    }
    &:hover{
        & > div{
            -ms-transform: scale(1.02); /* IE 9 */
            -webkit-transform: scale(1.02); /* Safari 3-8 */
            transform: scale(1.02); 
            transition: 0.3s all ease-in-out;
            opacity: 1 !important;
        }
        cursor: pointer;
         background: whitesmoke;
         transition: 0.3s all ease-in-out;
    }
}

.vaultsUsersGrid1{
    display: grid !important;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr !important;
    padding: 10px 50px;
    border-bottom: solid 0.5px #E7E7E7;
    height: 100px;
    .title{
        font-size: 15px !important;
        font-weight: 700;
        color: #18191D;
    }
    .subtitle{
        font-size: 15px !important;
        font-weight: 400;
        color: #18191D;
    }
    
    .subtitle1{
        font-size: 14px !important;
        font-weight: 400;
        color: #18191D;
    }
    & > div:not(:first-child){
        /* text-align: right; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end; 
    }
    &:hover{
        & > div{
            -ms-transform: scale(1.02); /* IE 9 */
            -webkit-transform: scale(1.02); /* Safari 3-8 */
            transform: scale(1.02); 
            transition: 0.3s all ease-in-out;
            opacity: 1 !important;
        }
        cursor: pointer;
         background: whitesmoke;
         transition: 0.3s all ease-in-out;
    }
}

.imgshadow{
//     border-radius: 50%;
// background: #ffffff;
// box-shadow:  20px 20px 60px #d9d9d9,
//              -20px -20px 60px #ffffff;
border-radius: 50%;
background: #ffffff;
box-shadow:  5px 5px 54px #d9d9d9,
             -5px -5px 54px #ffffff;
}