@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
@import "./static/scss/newConglomerate";

html, body{min-height:100%; outline: none;}
body{height:100vh;
    overflow: hidden;
    outline: none;
    ::-webkit-scrollbar {
        display: none;
      }
}
#root{
    height:100vh;
    outline: none;
}

body #root * {
    font-family: Montserrat;
    outline: none;
    box-sizing: border-box;
}

.grid-cap{
    position: relative;
    height: 100%;
    display: grid;
    grid-template-columns: 0.2fr 1fr 6fr;
}

.grid-cap-collapsed{
    position: relative;
    height: 100%;
    display: grid;
    grid-template-columns: 0.2fr 6fr;
}
